@model IEnumerable<OnlinePremios.Domain.Entities.Cota>
@using OnlinePremios.Domain.Enum

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="utf-8" />
    <title>Kirk Silva - Rifa da Videl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>


    <style>
        #search {
            width: 100%;
        }

        .searchicon {
            color: #5CB85C;
        }

        .col-xs-1 {
            width: 20%;
            padding-left: 2px;
            padding-right: 2px;
        }

        .col-sm-1 {
            width: 20%;
            padding-left: 2px;
            padding-right: 2px;
        }

        .col-md-1 {
            width: 20%;
            padding-left: 2px;
            padding-right: 2px;
        }

        .col-lg-1 {
            padding-left: 2px;
            padding-right: 2px;
            padding-left: 2px;
            padding-right: 2px;
            width: 57px;
            height: 36px;
        }

        .container {
            width: 100%;
        }

        .itens-collection {
            margin: 0px 0 0 0;
            align-itens: initial;
        }

            .itens-collection label.btn-success.active {
                background-color: #ff0000;
                color: #FFF;
            }

            .itens-collection label.btn-success {
                width: 100%;
                border: 2px solid #ff0000;
                margin: 1px;
                border-radius: 17px;
                color: #FFF;
            }

            .itens-collection label.btn-default {
                width: 100%;
                border: 2px solid #5f5e5e;
                margin: 1px;
                border-radius: 17px;
                color: #000;
            }

            .itens-collection label.btn-warning {
                width: 100%;
                border: 2px solid #e0520a;
                margin: 1px;
                border-radius: 17px;
                color: #FFF;
            }

            .itens-collection label .itemcontent {
                width: 100%;
            }

            .itens-collection .btn-group {
                width: 100%
            }
    </style>
</head>
<div>
    <h2>
        Escolha seus numeros e clicke
        <a asp-action="Create" type="submit" class="btn btn-info">

            << A Q U I >>
        </a> para comprar
    </h2>
</div>
<div class="container">
    <div class="container">

        <hr />
        <div class="row">
            <div class="form-group">
                <div class="itens-collection row">



                    @foreach (var item in Model)
               {
                    <div class="itens col-xs-1 col-sm-1 col-md-1 col-lg-1" title="@Html.DisplayFor(modelItem => item.Compra.Cliente.Nome)">
                        <span class="info-block block-info clearfix">
                            <span data-toggle="buttons" class="btn-group bizmoduleselect">
                                @*<label class="btn btn-success">
                                        @Html.DisplayFor(modelItem => item.Numero)
                                        <span class="itemcontent">
                                            <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                        </span>
                                    </label>*@
                                @if (item.StatusCota == StatusCota.Disponivel)
                                {
                                <label class="btn btn-success">
                                    @Html.DisplayFor(modelItem => item.Numero)
                                    <span class="itemcontent">
                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    </span>
                                </label>
                                }
                                @if (item.StatusCota == StatusCota.Reservada)
                                {
                                <label class="btn btn-warning">
                                    @Html.DisplayFor(modelItem => item.Numero)
                                    <span class="itemcontent">
                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    </span>
                                </label>
                                }
                                @if (item.StatusCota == StatusCota.Comprada)
                                {
                                <label class="btn btn-default">
                                    @Html.DisplayFor(modelItem => item.Numero)
                                    <span class="itemcontent">
                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    </span>
                                </label>
                                }
                            </span>
                        </span>
                    </div>
    }


                </div>
            </div>
        </div>

    </div>




    @*<div class="row">
            <br>
            <div class="form-group">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <i class="fa fa-search fa-2x pull-left searchicon"></i><input type="search" class="form-control" id="search" placeholder="Filter itens...">
                </div>
            </div>
        </div>*@


    @*
        <script>
            $(function () {
                $('#search').on('keyup', function () {
                    var pattern = $(this).val();
                    $('.itens-collection .itens').hide();
                    $('.itens-collection .itens').filter(function () {
                        return $(this).text().match(new RegExp(pattern, 'i'));
                    }).show();
                });
            });</script>*@
    <!-- Multi Select Buttons - END -->

</div>

